html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(244, 219, 182);

    font-family: "Helvetica", "Arial", sans-serif;
}

.container {
    position: relative;
    background-color: rgb(240, 223, 255);
    border: solid 7px rgb(34, 34, 34);
    border-radius: 35px;
    box-shadow: 15px 15px white;

    display: flex;
    flex-wrap: wrap;
    flex: 0 1 1300px;
    margin: 20vh;
    height: 772px;
}

/*picture*/
#coffee {
    position: absolute;
    height: 300px;
    bottom: -134px;
    right: 40px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    flex: 1 1 300px;
    background-color: rgb(226, 194, 255);
    border-radius: 31px;
}
.left .title {
    flex: initial;
    font-size: 20px;
}

.right {
    flex: 1 1 700px;
    min-height: 550px;
}
.form-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 27px;
}
.form-row {
    padding: 10px;
    flex: 0 1 300px;
    display: flex;
    
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}
/*
.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='password']:invalid {
    background-color: #ff9696;
    border: 1px solid #ff4b4b;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}
*/
.form-row label {
    margin-bottom: 10px;
}
#button-container {
    display: flex;
    flex-direction: row;
}
#button-container p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row button {
    flex: 0 1 auto;
    width: 200px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #fc45c6;
  
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px black;
  
    padding: 10px 40px;
    cursor: pointer;
}
  
.form-row button:hover {
    background-color: #ff80d9;
}
  
.form-row button:active {
    background-color: #df32ab;
}

.background-image, .background-shadow {
    position: absolute;
}

.cloud {
    height: 55px;
    top: 5vh;
    left: 3vw;
}

.cloud-shadow{
    position: absolute;
    height: 55px;
    top: calc(5vh + 3px);
    left: calc(3vw + 3px);
}

.heart {
    height: 75px;
    bottom: 5vh;
    right: 3vw;
}

.heart-shadow{
    position: absolute;
    height: 75px;
    bottom: calc(5vh - 3px);
    right: calc(3vw - 3px);
}

  /* Mobile Styles */
@media only screen and (max-width: 400px) {
    .container {
        margin: 3vh;
        box-shadow: 5px 5px white;
    }
    .form-row button {
        align-self: center;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .container {
        margin: 10vh;
        box-shadow: 10px 10px white;
    }
    #button-container {
        justify-content: center;
        align-items: center;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .bubble-container{
        display: flex;
        justify-content: center;
    }
    .bubble-container .bubble {
        flex: 0 1 515px;
        position: relative;
        background-color: rgb(196, 234, 196);
        border-radius: 10px;
        border: 2px solid rgb(112, 223, 112);
        padding: 14px;
        margin: 30px;
    }
    .bubble-container .bubble2 {
        position: absolute;
        bottom: -20px;
        left: 0px;
        background-color: rgb(196, 234, 196);
        border: 2px solid rgb(112, 223, 112);
        border-radius: 10px;
        padding: 5px;
        width: 50px;
    }
    .bubble-container .bubble3 {
        position: absolute;
        bottom: -37px;
        left: 0px;
        background-color: rgb(196, 234, 196);
        border: 2px solid rgb(112, 223, 112);
        border-radius: 10px;
        padding: 5px;
        width: 20px;
    }
}
@media only screen and (max-width: 1018px) { 
    /* Take out pic when smaller screen */
    .left {
        flex-direction: row;
    }
    .bubble-container .bubble{
        font-size: 0;
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
    #coffee {
        visibility: hidden;
    }
}